#headerNuevoCuestionarioFormulario {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#botonesMenu {
  display: flex;
}

#botonesMenu > a {
  margin-right: 10px;
}

#nombreNuevoCuestionario {
  width: 40%;
}

#nombreNuevoCuestionario input {
  font-size: 4vw;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 100%;
}

#mainNuevoFormulario {
  width: 95%;
  margin: 32px auto;
  font-size: 1.7em;
}

#botonUsuario ion-icon, #botonVolver ion-icon{
  font-size: 3em;
  background-color: none;
}

#botonUsuario, #botonVolver {
  border-radius: 5px;
  background-color: white;
  border-top: none;
  border-left: none;
}

#formularioNuevoCuestionario {
  width: 100%;
  padding-top: 23px;
}

#formularioNC {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

#formularioNC #botonEnviarFormulario {
  width: 100%;
  border: 1px solid lightgrey;
  font-size: 1.2em;
  color: grey;
  padding: 10px 0;
}


#botonesCuestionario {
  display: flex;
  width: 100%;
}

#botonesCuestionario button {
  width: 50%;
  font-size: 0.7em;
  border: none;
  border: 1px solid lightgrey;
  font-size: 2vw;
  padding: 10px 0;
}

.preguntasYRespuestas {
  margin-bottom: 20px;
}

.preguntaYRespuesta {
  margin-bottom: 40px;
  font-size: 2vw;
}

.preguntasYRespuestas hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: ridge;
  -webkit-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.44);
  box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.44)
}

.pregunta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.consignaPregunta {
  display: flex;
  flex-direction: column;
}

.funcionesPregunta button {
  background-color: white;
  border-top: none;
  border-left: none;
  border-radius: 3px;
}

.funcionesPregunta ion-icon {
  font-size: 1.4em;
  background-color: none;
}

.pregunta input {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  font-size: 1.1em;
  padding-left: 5px;
  margin-bottom: 10px;
}

.unasRespuestas {
  margin-left: 2%;
}

.unasRespuestas input {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  font-size: 0.7em;
  padding-left: 5px;
  padding-bottom: 0;
  margin-bottom: 10px;
  width: 100%;
}

.unasRespuestas input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

.formularioInput {
  display: flex;
  flex-direction: row;
}

.unasRespuestas .formularioInput:first-of-type input {
  border-bottom-color: #5AB131;
}

.unasRespuestas .formularioInput input {
  border-bottom-color: #BF4133;
}

.textoChiquito {
  font-size: 0.4em;
}

@media (max-width: 550px) {
  #headerNuevoCuestionarioFormulario {
    flex-direction: column;
  }

  #nombreNuevoCuestionario {
    width: 100%;
    order: 2;
    margin-top: 20px;
  }

  #botonesCuestionario button {
    font-size: 3vw;
  }
}

@media (max-width: 850px) {
  #formularioNC {
    width: 100%;
  }

  .preguntaYRespuesta {
    font-size: 4vw;
    width: 100%;
  }
}
