*{
    margin: 0%;
    padding: 0%;
}
  img.imagenLogin {
      margin-left: 12em;
      margin-top: 20%;


  }
#seccionizquierda{

    background-color:orange;
    height: 100%;
    width: 50%;
    float: left;
    margin-top: -1.1em;
    padding-top: 6%;
    padding-bottom: 16%;


}
#seccionderecha{
    margin-top: -1.1em;
    padding-top: 4%;
    padding-bottom: 8%;
    width: 50%;
    height: 100%;
    background-color: pink;
    float:right;
    overflow: hidden;
    text-align: center;
}

#seccionderechaformu {
    margin-left: auto ;
    margin-right: auto;
    width:30%;

}


}
#formulario{
    padding: 3em;


}
#it {

    display: flex;
    flex-flow: row;
    font-size: 1.1em;

}

#titulo,#it,#i{
    margin-bottom: 1.0em;
    margin-top: 1.1em;
}

input.inputFormularioIngreso{
    padding: 0.6em;
}

button#it{
    padding:0.5em;
    margin-left:auto ;
    margin-right:auto ;
    background-color: royalblue;

}
#titulo{
    font-size: 3em;
}
