#mainMenuPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#usuarioMenuPrincipal {
  height: 10%;
  align-self: flex-end;
}

#opcionesMenuPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 80%;
  padding: 0 20%;
}

#opcionesMenuPrincipal a {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-size: 2em;
}

#opcionesMenuPrincipal a:hover {
  -webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
	box-shadow: 0 7px 4px #777;
  border-color: #5AB131;
}

#botonesConfigYAyuda {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#botonesConfigYAyuda a {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  width: 20%;
}
