@import url("configuracionBasica.css");
@import url("formularioNuevoCuestionario.css");
@import url("preguntaTexto.css");
@import url("menuBuscarCuestionario.css");
@import url("ranking.css");
@import url("login.css");
@import url("menuPrincipal.css");
@import url("infoUsuario.css");
@import url("ayuda.css");
@import url("editarUsuario.css");
@import url("requiereLogin.css");
@import url("estilo.css");
@import url("usuarioPerfilPublico.css");
